body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.work {
  display: flex;
  justify-content: space-around;
}

.work .feed {
  width: 60%;
  padding-left: 100px;
  /* background-color: rgb(170, 170, 247); */
  height: 270vh;
}
.feed h3 {
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
}
.feed a {
  text-decoration: none;
  color: black;
}
.feed a:hover {
  color: blue;
}

.feed .subfeed-1 {
  display: flex;
}
.feed .subfeed-1 img {
  height: 350px;
  --_g: 10% /45% 45% no-repeat linear-gradient(#000 0 0);
  --m: left var(--_i, 0%) top var(--_g), bottom var(--_i, 0%) left var(--_g),
    top var(--_i, 0%) right var(--_g), right var(--_i, 0%) bottom var(--_g);
  -webkit-mask: var(--m);
  mask: var(--m);
  filter: grayscale();
  transition: 0.3s linear;
  cursor: pointer;
}
.feed .subfeed-1 img:hover {
  --_i: 10%;
  filter: grayscale(0);
}

.feed .subfeed-1 p {
  padding-right: 110px;
  font-size: 35px;
  line-height: 40px;
  margin-left: 40px;
  margin-top: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.feed .subfeed-2 {
  display: flex;
}
.feed .subfeed-2 img {
  height: 350px;
  margin-right: 60px;
  margin-left: 10px;
  --s: 15px; /* size of the frame */
  --b: 2px; /* border thickness */
  --w: 400px; /* width of the image */
  --c: #7b3b3b;

  width: var(--w);
  aspect-ratio: 1;
  object-fit: cover;
  padding: calc(2 * var(--s));
  --_g: var(--c) var(--b), #0000 0 calc(100% - var(--b)), var(--c) 0;
  background: linear-gradient(var(--_g)) 50%/100% var(--_i, 100%) no-repeat,
    linear-gradient(90deg, var(--_g)) 50% / var(--_i, 100%) 100% no-repeat;
  outline: calc(var(--w) / 2) solid #0009;
  outline-offset: calc(var(--w) / -2 - 2 * var(--s));
  transition: 0.4s;
  cursor: pointer;
}
.feed .subfeed-2 img:hover {
  outline: var(--b) solid var(--c);
  outline-offset: calc(var(--s) / -2);
  --_i: calc(100% - 2 * var(--s));
}

.feed .subfeed-2 p {
  font-size: 35px;
  line-height: 40px;
  margin-top: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.feed .subfeed-3 p {
  font-size: 35px;
  line-height: 40px;
  padding-right: 70px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.feed .subfeed-3 img {
  margin-left: 130px;
  width: 530px;
  height: 450px;
  border: 2px solid black;
}
.link {
  margin-top: 150px;
}
.link a {
  position: fixed;
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.link a:hover {
  color: red;
}
